@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

/* Override the #root element of Supabase UI */
#root {
  background-color: transparent !important;  /* Remove unwanted background */
  padding: 0 !important;  /* Remove any unwanted padding */
  margin: 0 !important;  /* Remove any unwanted margin */
  min-width: 320px;
  min-height: 100vh;

  height: 100vh !important;  /* Full viewport height */
  width: 100% !important;    /* Full width */
  max-width: 1200px;         /* Limit the maximum width */
  margin: 0 auto;            /* Center it horizontally */
  padding: 20px;             /* Adjust padding if necessary */

  /* Center using CSS Grid */
  display: grid;               /* Enable CSS Grid */
  place-items: center;         /* This is a shorthand for `align-items` and `justify-items` */
  height: 100vh;               /* Full height of the viewport */
  width: 100%;                 /* Full width of the viewport */
  margin: 0;                   /* Remove any default margin */
}

:root {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-weight: 600;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: linear-gradient(135deg, #ff8c42 0%, #ffb88c 100%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 1000;
  color: #07555f;
  text-decoration: inherit;
}
a:hover {
  color: #611a04;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(135deg, #ff8c42 0%, #ffb88c 100%);
}

h1 {
  font-family: 'Anton', sans-serif;
  font-size: 3.2em;
  font-weight: 700;
  line-height: 1.1;
  color: white;
}

button {
  font-family: 'Anton', sans-serif;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  color: #200800;
  background-color: #a6520c;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #611a04;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #ffffff;
    background-color: #C17230;
  }
  a:hover {
    color: #611a04;
  }
  button {
    background-color: #a6520c;
  }
}

.upper-decor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  max-height: 120px; /* Adjust height as needed */
  object-fit: cover; /* Ensure image covers the area without stretching */
  z-index: 10; /* Make sure it's above other elements */
  pointer-events: none;
}
